<ul class="text-center">
  {{#each highscores}}
    <li class='my-2 border-2 rounded-md'><span class='px-2'>Name:
        {{this.name}}</span class='px-2'><span>Time: {{this.time}}</span><span class='px-2'>Guesses:
        {{this.guesses}}</span>
    </li>
  {{/each}}
</ul>