<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Word Game - Highscore</title>
    <link rel='stylesheet' href='./sc/output.css' />
  </head>
  <body>
    <header class='bg-stone-800 h-32 mb-1'>
      <h2 class='p-4 text-stone-50 text-2xl'>
        <a href='./'>Word Game</a>
      </h2>

      <nav class='flex justify-evenly p-4'>
        <a
          class='text-stone-50 font-bold underline decoration-solid decoration-8 underline-offset-8'
          href='./'
        >
          Home
        </a>
        <a class='text-stone-50' href='./about.html'> About </a>
        <a
          class='text-stone-50 underline decoration-solid decoration-8 underline-offset-8'
          href='#'
        > Highscore </a>
      </nav>
    </header>

    <main>
      <h1>Highscore SSR handlebars</h1>
      <div>{{{body}}}</div>

    </main>
    <footer class='bg-stone-800 h-32 fixed bottom-0 w-full'>
      <p class='p-4 text-stone-50 text-center'>&#169; 2023 Palmborg</p>
    </footer>
  </body>
</html>