<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Word Game - Highscore</title>
    <link rel='stylesheet' href='./output.css' />

  </head>
  <body class='flex flex-col min-h-screen justify-between'>
    <div>
      <header class='mb-4 h-20'>
        <h2 class='text-2xl pl-4 pt-2'>
          <a href='./'>Word Game</a>
        </h2>

        <nav class='flex justify-evenly'>
          <a href='./'>
            Home
          </a>
          <a class='' href='./about.html'> About </a>
          <a
            class='font-bold underline decoration-solid decoration-4 underline-offset-4'
            href='./highscore'
          > Highscore </a>
        </nav>
        <div class='bg-black h-0.5 mt-3 w-5/6 m-auto'></div>
      </header>

      <main>
        <h1 class='text-center font-bold text-lg mb-2'>Highscore</h1>
        <div>{{{body}}}</div>

      </main>
    </div>
    <footer class='h-20 w-full'>
      <div class='bg-black h-0.5 w-5/6 m-auto'></div>
      <p class='p-4 text-center'>&#169; 2023 Palmborg</p>
    </footer>
  </body>
</html>